[Unit]
Description=westinghouse
Wants=dynamicswap.service

StartLimitBurst=1
StartLimitIntervalSec=1000

[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/python /home/rpi/westinghouse/westinghouse.py
Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse
User=root
Group=root

[Install]
WantedBy=multi-user.target
