[Unit]
Description=westinghouse
Wants=dynamicswap.service

StartLimitBurst=10
StartLimitIntervalSec=1000q

[Service]
ExecStart=/usr/bin/python /home/rpi/westinghouse/westinghouse.py
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse
User=root
Group=root

[Install]
WantedBy=multi-user.target
