# put this in /usr/lib/systemd/system/
# then run
# systemctl daemon-reload
# systemctl enable westinghouse.service
# systemctl start westinghouse.service
# systemctl status westinghouse.service

[Unit]
Description=Moode Backend Module
Wants=dynamicswap.service

StartLimitBurst=2
StartLimitIntervalSec=5

[Service]
ExecStart=python3 /home/rpi/westinghouse.py
#Restart=always
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse
User=root
Group=root

[Install]
WantedBy=multi-user.target
