# chmod +x this then put it in /usr/lib/systemd/system/
# then run
# systemctl daemon-reload
# systemctl enable westinghouse-bulbs.service
# systemctl start westinghouse-bulbs.service
# systemctl status westinghouse-bulbs.service
# journalctl -b -u westinghouse-bulbs

[Unit]
Description=westinghouse-bulbs
Wants=dynamicswap.service

StartLimitBurst=2
StartLimitIntervalSec=5

[Service]
ExecStart=python3 /home/rpi/westinghouse/westinghouse-bulbs.py
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse-bulbs
User=root
Group=root

[Install]
WantedBy=multi-user.target
