# chmod +x this then put it in /usr/lib/systemd/system/
# then run
# systemctl daemon-reload
# systemctl enable westinghouse-left-knob.service
# systemctl start westinghouse-left-knob.service
# systemctl status westinghouse-left-knob.service
# journalctl -b -u westinghouse-left-knob

[Unit]
Description=westinghouse-left-knob
Wants=dynamicswap.service

StartLimitBurst=2
StartLimitIntervalSec=5

[Service]
ExecStart=python3 /home/rpi/westinghouse/westinghouse-left-knob.py
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse-left-knob
User=root
Group=root

[Install]
WantedBy=multi-user.target
