# chmod +x this then put it in /usr/lib/systemd/system/
# then run
# systemctl daemon-reload
# systemctl enable westinghouse-right-rotary.service
# systemctl start westinghouse-right-rotary.service
# systemctl status westinghouse-right-rotary.service
# journalctl -b -u westinghouse-right-rotary

[Unit]
Description=westinghouse-right-rotary
Wants=dynamicswap.service

StartLimitBurst=2
StartLimitIntervalSec=5

[Service]
ExecStart=python3 /home/rpi/westinghouse/westinghouse-right-rotary.py
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=westinghouse-right-rotary
User=root
Group=root

[Install]
WantedBy=multi-user.target
